// COLORS

$primary-color:        #C11EC7 ;
$secondary-color:    #8EDC54 ;
$tertiary-color:    #62B7FF ;

// FONT SIZE
$p-font-size:        14px;
$h3-font-size:        $p-font-size*4/3;
$h2-font-size:        $h3-font-size*4/3;
$h1-font-size:        $h2-font-size*4/3;

// OPTIONAL FILES
$use-slider:        false;
$use-caroussel:        false;